.kontejner{
    display: flex;
    border: 1px solid black;
    background-color:#00ffcc;
    
}

.kontForma{
    display: flex;
    min-width: 200px;
    flex-direction: column;
    background-color: #24e6d5;
    flex-basis: 200px;
    border: 1px solid black;
}
.kontRaspored{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.red{
    display: flex;
    flex-grow: 1;
        
}
.kol{
    border: 1px solid black;
    flex:1 1 10px;
    margin:5px;
    text-align:center;

}
.naziv{
    display: flex;
    justify-content: center;
    align-items: center;

}
